URLMONGO = 'mongodb+srv://csistemasApp:14025843@cluster0.amq8wip.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
DBNAME = 'csistemas'
PORT = 4000
PASSWORD_SALT_ROUNDS=10
JWT_SECRET="pepito"
PASSWORD_RESET_EXPIRES_MIN = 60
APP_URL= 'http://localhost:4000'
PASSWORD_RESET_EXPIRES_MIN= 60

SERVICE='gmail'
MAIL_HOST='smtp.gmail.com'
MAIL_PORT= 58
MAIL_USER= 'gastonmagrassi@gmail.com'
MAIL_PASS='wxjy euxm duyp wuth'
MAIL_FROM= 'gastonmagrassi@gmail.com'